body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track { 
    background-color: #1A237E;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(187, 223, 26);
    border-radius: 8px;
    height: 10px;
}