body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #1A237E;
}

body::-webkit-scrollbar-thumb {
    background-color: #AEEA00;
    /* border-radius: 5px; */
    height: 20px;
}