body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track { 
    background-color: #1A237E;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 92, 137);
    border-radius: 10px;
    height: 10px;
}